/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE

========================================================  */

/*==============================
GENERAL STYLES
==============================*/

@import url(http://fonts.googleapis.com/css?family=Anton|Maven+Pro:500,700);

body {
    font-family: 'Maven Pro', sans-serif;
    line-height: 25px;
}

.pad-bottom {
    padding-bottom: 60px;
}

section {
    padding-bottom: 120px;
    padding-top: 100px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.set-bk-clr {
    background-color: #FF2276;
}

.clr-set {
    color: #FF2276;
}

.f-big {
    font-size: 40px;
    font-weight: 900;
}

.set-bk-clr:hover {
    background-color: rgba(107, 1, 41, 0.67);
}
/*==============================
NAVBAR STYLES
==============================*/
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.navbar-brand {
    padding:0px;

}
.navbar-brand img {
    height:50px;
}
.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 900;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
    text-decoration: none;
}

.navbar-default {
    background-color: #FF2276;
    border-color: transparent;
}
/* ADDED PADDING IN NAVBAR */
.navbar {
    padding: 15px;
    -webkit-transition: background .8s ease-out,padding .8s ease-out;
    -moz-transition: background .8s ease-out,padding .8s ease-out;
    transition: background .8s ease-out,padding .8s ease-out;
}
/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
    padding: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}


/* =============================================================
  HEADER SECTION STYLES
 ============================================================ */

#header {
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background: url(../img/code.jpg) no-repeat fixed center center;
    color: #fff;
    width: 100%;
}

#header .overlay {
    background-color: rgba(3, 3, 3, 0.8);
    min-height: 700px;
}

#header h1 {
    line-height: 60px;
    font-size: 45px;
    font-weight: 900;
    padding-top: 180px;
    padding-bottom: 35px;
    color: #FF2276;
}


#header h2 {
    line-height: 30px;
    font-size: 28px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

/*================================
    SERVICES STYLES
==================================*/
#mySelf {
    background-color: rgba(237, 237, 237, 1);
}

#mySelf i {
    font-size: 80px;
    padding: 30px;
    color: #FF2276;
}

#mySelf h4 {
    padding-bottom: 5px;
    padding-top: 15px;
}
/* =============================================================
  CLIENTS SECTION STYLES
 ============================================================ */

#competences {
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background: url(../img/code_letters_screen.jpg) no-repeat fixed center center;
}

#competences .overlay {
    background-color: rgba(0,0,0,0.7);
    padding-top: 90px;
    min-height: 300px;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.competences-carousel {
    margin-top: 50px; /*SMALL TOP MARGIN FOR SPACE */
    padding: 0 30px 30px 30px;
}

.competences-carousel .thumbnail {
    border: 1px solid #FF2276;
}

.competences-carousel .carousel-control.left {
    height: 30px;
    width: 25px;
    margin-top: 45px;
    background: #FF2276;
    left: -15px;
}

.competences-carousel .carousel-control.right {
    height: 30px;
    width: 25px;
    margin-top: 45px;
    background: #FF2276;
    right: -15px;
}

.competences-carousel img {
    width: 100%;
    height: 120px;
}

#competences .thumbnail {
    background-color: transparent;
}

/* =============================================================
  TEAM SECTION STYLES
 ============================================================ */
#realisations {
    background-color: rgba(237, 237, 237, 1);
}

.media img {
    margin-right: 40px;
    max-height: 150px;
    margin-bottom: 20px;
    border: 2px solid #FF2276;
}

/* =============================================================
  CONTACT SECTION STYLES
 ============================================================ */
#contact {
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background: url(../img/briques.jpg) no-repeat fixed center center;
}

#contact .overlay {
    padding-top: 90px;
    min-height: 300px;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
/* =============================================================
  FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 20px;
    font-size: 10px;
    text-align: center;
    color: grey;
    font-weight: 900;
    background-color: rgba(237, 237, 237, 1);
}

footer a, footer a:hover {
    color: #000;
    text-decoration: none;
}

@media (max-width: 768px) {
    div[id="navbar"].pull-right {
        float: none !important;
    }
}

.fa-github:before {
    font-size: 50px;
    padding: 30px;
    color: #FF2276;
}

.fa-linkedin:before {
    font-size: 50px;
    padding: 30px;
    color: #FF2276;
}

.fa-envelope {
    font-size: 50px;
    padding: 30px;
    color: #FF2276;
}

/* =============================================================
  FENETRE MODALE
 ============================================================ */

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.droite {
    float:right;
}

.oModal {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.oModal:target {
    opacity:1;
    pointer-events: auto;
}

.oModal:target > div {
    margin: 10% auto;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.oModal > div {
    max-width: 600px;
    position: relative;
    margin: 1% auto;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
    background: #eee;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.oModal > div header,.oModal > div footer {
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
}
.oModal .footer {
    border:none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
}

.oModal > div h2 {
    margin:0;
}

.oModal > div .btn {
    float:right;
}

.oModal > div section,.oModal > div > header, .oModal > div > footer {
    padding:15px;
}
